$card-color:  #272D42;

.main-container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 24px;
    row-gap: 31px;

    .card {
        background-color: $card-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 24px;
        padding: 24px;
    }

    .card-h2 {
        font-weight: 400;
        font-size: 16px; 
        text-align: center;
    }

    .card-p {
        text-align: center;
        font-size: 14px;
        font-weight: 100;
        opacity: .5;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .card-image {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        &.purple {
            background-color: #373155;
        }

        &.blue {
            background-color: #2C3455;
        }

        &.green {
            background-color: #274255;
        }

        &.yellow {
            background-color: #3D413F;
        }
    }

    @media screen and (max-width: 400px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 24px;
    }
}