.main-container {
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 109px;

    .main-container__texts {
        width: 90%;
    }

    .main-container__h1 {
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 1;
        letter-spacing: 1px;
    }

    .main-container__p {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        opacity: .9;
        text-align: left;
    }

    @media screen and (max-width: 834px) {
        flex-direction: column;
        width: 90%;
        gap: 24px;
    }

    @media screen and (max-width: 600px) {
        width: auto;
        margin: 3rem auto;
    }
}