/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #5721f2;
    --color-on-surface: #000;
    --background-color: #0F162D;
    --text-color: #FFFFFF;
    --font: 'DM Sans', sans-serif;
    --24--px: 24px;
    --16--px: 16px;
    --14--px: 14px;
    --496--px: 496px;
    --343--px: 343px;
    --purple-clr: #373155;
    --green-clr: #274255;
    --blue-clr: #2C3455;
    --yellow-clr: #3D413F;
    --purple-clr-hov: #37315580;
    --green-clr-hov: #27425580;
    --blue-clr-hov: #2C345580;
    --yellow-clr-hov: #3D413F80;
    --card-color:#272D42;
}