@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/main.scss";
@import "styles/cards.scss";

body {
  font-family: var(--font);
  color: var(--text-color);
  background: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 159px auto;

  @media screen and (max-width: 600px) {
    height: auto;
  }
}

p {
  color: var(--text-color);
}