@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "../pages/landing-page/styles/main.scss";
@import "../pages/landing-page/styles/cards.scss";


body {
  font-family: var(--font);
  color: var(--text-color);
  background: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 159px auto;

  @media screen and (max-width: 835px) {
    height: 150vh;
  }
  @media screen and (max-width: 450px) {
    height: 200vh;
  }
}

p {
  color: var(--text-color);
}