%card-image {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    line-height: var(--24--px);
    text-align: center;
}

.main-container {

    &__cards {
        display: grid;
        grid-template: repeat(2,minmax(240px,1fr))/repeat(2,268px);
        column-gap: var(--24--px);
        row-gap: 31px;
        max-width: 560px;
        padding-top: 2rem;
    }

    &__card {
        background-color: var(--card-color);
        position: relative;
        border-radius: var(--24--px);
        padding:var(--24--px) 16px;
        transition: all .5s;

        &--purple:hover {
            background-color: var(--purple-clr-hov);
        }
        &--blue:hover {
            background-color: var(--blue-clr-hov);
        }
        &--green:hover {
            background-color: var(--green-clr-hov);
        }
        &--yellow:hover {
            background-color: var(--yellow-clr-hov);
        }
    }
    
    &__h2 {
        font-weight: 500;
        font-size: 20px; 
        text-align: center;
        margin-top: 1rem;
    }

    &__p {
        margin-top: 1rem;
        text-align: center;
        font-size: var(--16--px);
        font-weight: 400;
        opacity: .5;
        line-height: var(--24--px);
    }

    &__svg {
        position: relative;
        margin: 0 auto;
        border-radius: 1rem;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%) translateY(-50%);
        }


        &--purple {
            @extend %card-image;
            background-color: var(--purple-clr);
        }

        &--blue {
            @extend %card-image;
            background-color: var(--blue-clr);
        }
    
        &--green {
            @extend %card-image;
            background-color: var(--green-clr);
        }
    
        &--yellow {
            @extend %card-image;
            background-color: var(--yellow-clr);
            height: 4rem;
        }

    }

    @media screen and (max-width: 1000px) {

        %card-image {
            width: 3.375rem;
            height: 3.375rem;
            border-radius: 15px;
        }

        &__cards{
            width: 496px;
            max-width: 496px;
            margin-top: 0;
            padding-top: 0; 
            grid-template: repeat(2,minmax(218px,1fr))/repeat(2,240px);
            grid-auto-rows: minmax(218px,1fr);
            gap: var(--16--px);
        }

        &__card {
            border-radius: var(--16--px);
            padding: 1.25rem 1.063rem 1.25rem 1rem;
        }

        &__h2 {
            width: 100%;
        }

        &__p {
            font-size: var(--14--px);
            line-height: 22px;
        }
    }
    

     @media screen and (max-width: 550px) {
        &__cards {
            display: flex;
            flex-direction: column;
            width: unset;
            width: unset;
        }

        &__card {
           width: 100%;
        }

        &__h2 {
            margin-top: 1.1rem;
        }

     } 
}

