%card-image {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    line-height: var(--24--px);
    text-align: center;
}

.main-container {

    &__cards {
        display: flex;
        flex-direction: column;
        //grid-template: repeat(2,minmax(240px,1fr))/repeat(1, 536px);
        //column-gap: var(--24--px);
        row-gap: 31px;
        max-width: 560px;
        padding-top: 2rem;
    }

    &__cards-l {
        display: flex;
        gap: var(--24--px);
    }

    &__card {
        background-color: var(--card-color);
        position: relative;
        min-width: 268px;
        border-radius: var(--24--px);
        padding:var(--24--px) 16px;
        transition: all .5s;

        &--purple {
            padding:var(--24--px) 13px var(--24--px) var(--16--px);
        }

        &--green {
            padding:var(--24--px) 13px var(--24--px) var(--16--px);
        }
    }
    
    &__h2 {
        font-weight: 500;
        font-size: 20px; 
        text-align: center;
        margin-top: 18px;
    }

    &__p {
        margin-top: 15px;
        text-align: center;
        font-size: var(--16--px);
        font-weight: 400;
        opacity: .5;
        line-height: var(--24--px);
    }

    &__svg {
        position: relative;
        margin: 0 auto;
        border-radius: 1rem;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%) translateY(-50%);
        }


        &--purple {
            @extend %card-image;
            background-color: var(--purple-clr);
        }

        &--blue {
            @extend %card-image;
            background-color: var(--blue-clr);
        }
    
        &--green {
            @extend %card-image;
            background-color: var(--green-clr);
        }
    
        &--yellow {
            @extend %card-image;
            background-color: var(--yellow-clr);
            height: 4rem;
        }

    }

    @media screen and (max-width: 1000px) {

        %card-image {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 15px;
        }

        &__cards{
            width: 496px;
            max-width: 496px;
            margin-top: 0;
            padding-top: 0; 
            //grid-template: repeat(2,minmax(218px,1fr))/repeat(2,240px);
            //grid-auto-rows: minmax(218px,1fr);
            gap: var(--16--px);
        }

        &__cards-l {
            display: flex;
            gap: var(--16--px);
        }

        &__card {
            border-radius: 20px;
            min-width: 240px;
            padding: 1.25rem 1.063rem 1.25rem 1rem;
        }

        &__h2 {
            width: 100%;
            margin-top: 18px;
        }

        &__p {
            margin-top: 15px;
            font-size: var(--14--px);
            line-height: 22px;
        }

        &__svg {
            position: relative;
            margin: 0 auto;
            border-radius: 1rem;
    
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%) translateY(-50%);
                width: 28px;
                height: 28px;
            }
        }
    }
    

     @media screen and (max-width: 550px) {
        &__cards {
            display: flex;
            flex-direction: column;
            width: unset;
            width: unset;
        }

        &__cards-l {
            flex-direction: column;
            gap: var(--16--px);
        }

        &__card {
           width: 100%;

           &--purple {
                padding: 1.25rem 1.163rem 1.25rem 1.3rem;
            }

            &--green {
                padding: 1.25rem 1.163rem 1.25rem 1rem;
            }
        }

     } 
}

