.main-container {
    max-width: 1440px;
    display: flex;
    padding: 159px 16px 140px;

    .l-main {
        max-width: 1136px;
        display: flex;
        gap: 109px;
    }

    &__texts {
        max-width: 467px;
        display: flex;
        flex-direction: column;
        gap:  var(--24--px);
    }

    &__h1 {
        font-weight: 500;
        font-size: 3rem;
        line-height: 56px;
        margin-bottom: 0;
    }

    &__desc {
        font-weight: 400;
        font-size: var(--16--px);
        line-height: 1.5;
        opacity: .9;
        text-align: left;
        line-height: var(--24--px);
    }

    @media screen and (max-width: 1000px) {
        padding: 247px 16px 169px;
        max-width: 834px;

        .l-main {
            flex-direction: column;
            gap:28px;
            max-width: var(--496--px);
        }

        &__texts {
            margin-right: 0;
            max-width: var(--496--px);
            gap: var(--16--px);
        }

        &__h1 {
            margin-bottom: 0;
            max-width: var(--496--px);
        }

        &__desc {
            max-width:  var(--496--px);
        }

    }

    @media screen and (max-width: 550px) {
        max-width: unset;
        padding: 48px 16px 64px;

        &__texts {
            margin-right: 0;
            max-width: unset;
            gap: var(--16--px);
        }

        &__h1 {
            font-size: 2rem;
            margin-bottom: 0;
            max-width: unset;
            line-height: 40px;

        }

        &__desc {
            max-width:  unset;
        }
    }
}